{% extends "base.html" %}

{% block content %}

<md-block>

<h1> Welcome! 🌱 </h1>

<p style="padding: 3em 1em; background: #bbbbbb; border-radius: 4px; color: #3e3e3e">
  Hello This is my Digital Garden, ຖ້າເຈົ້າຮຽນວິສະວະກຳໂທລະຄົມມະນາຄົມ ນີ້ອາດເປັນປະໂຫຍດ<span style="font-weight: bold"> <br>
    <a href="/telecommunication-engineering">Telecommunication engineering</a> </span>📓 
  <br>
  <br>
  <span style="font-weight: bold"><a href="/programming">Programming</span></a>📓 <br>
  
</p>

ນີ້ເປັນ digital garden ຂອງ **Pinkeo** ສ້າງຂຶ້ນເພື່ອແບ່ງປັນຄວາມຮູ້, ຂ້ອຍຮຽນສາຂາວິສະວະກຳເອເລັກໂຕຣນິກ ແລະ ໂທລະຄົມມະນາຄົມ 👩‍💻 ສະນັ້ນເນື້ອໃນສ່ວນໃຫຍ່ໃນນີ້ຈະກ່ຽວກັບດ້ານນີ້ໂດຍສະເພາະ ແລະສ່ວນຫຼາຍຈະເປັນ note ທີ່ຂ້ອຍບັນທຶກ. 

ຂ້ອຍມີເວັບບລອກທີ່ຂຽນກ່ຽວກັບເລື່ອງຕ່າງໆ ສາມາດເຂົ້າໄປເບິ່ງໄດ້ທີ່ [**ທີ່ນີ້**](https://pinkeo.netlify.app/).


<style>
  .wrapper {
    max-width: 46em;
  }
</style>

</md-block>
{% endblock %}
